@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PixelifySans";
  src: url("./assets/fonts/PixelifySans-SemiBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: PixelifySans, Verdana;
}

body {
  background-color: rgb(38, 38, 38);
  overflow: hidden;
}

button {
  transition-duration: 200ms;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.9);
  }
}
